*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
 font-size: 62.5%;
}
main img {
    margin-left: 20rem;
}
main h1{
    margin-top: 30rem;
    font-family: mulish;
    font-weight: 900;
    color:  #B52184;
    stroke: black ;
}
main {
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    
}
.astro button {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
}
main p {
    font-size: 2.5rem;
    color: #312D64;
    font-family: mulish;
    font-weight: 600;
}
.astro h1 {
  font-size: 5rem ;
}

main button {
    border: none;
    margin-top: 30%;
    background: white;
}
header {
    display: flex;
    background-color: #312D64;
    padding: 10rem 11rem;
    margin-top: 12rem;
}
section {
    background: white;
    padding: 10rem 5rem;
    margin-right: 6rem;
    border-radius: 2rem;
}
section h1 {
    font-size: 3rem;
    margin-top: 3rem;
    font-family: mulish;
    font-weight: 900;
    color:  #B52184;
    stroke: black ;
}
section p {
    font-size: 2rem;
    margin-top: 1rem;
    color: #312D64;
    font-family: mulish;
    font-weight: 600;
}

/*aside*/
aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside label {
    color: #312D64;
}
.list input {
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.list2 input {
    font-size: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
::placeholder {
    font-size: medium;
    text-align:justify;
}
.biglist input {
    line-height: 140%;
    font-size: 5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
}
aside button {
    font-family: mulish;
    font-weight: 600;
    color: white;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #312D64;
    width:20rem;
    height: 4rem;
}
#center {
    margin-left: 30rem;
    padding: 10rem 10rem;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: mulish;
    font-weight: 900;
    color:  #B52184;
    stroke: black ;
}
@media (min-width: 700px) {
    main {
        max-width: 1020px;
        display: flex;
        gap: 10rem;
    }
    main> div {
        max-width: 484px;
    }
    
}


footer {
    color: white;
    padding: 2rem 2rem;
    background-color: #312D64;
    text-align: center;
    font-size: 2rem;
    font-family: mulish;
    font-weight: 900;
}